.email{
    margin-left: 20px;
}

#welcome h2{
    text-align: center;
}


#welcome .hotel{
    text-align: center;
}

#hotel-rooms h3{
    text-align: center;
}

#hotel-rooms .polo{
    text-align: center;
}